body {
    background-color: #1F2430;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

h1 {
    color: #FFFFFF;
}

#dashboard-content {
    padding: 20px;
    background-color: #2C303A;
}

/* Personalizar gráficos de Dash */
.dash-graph {
    background-color: #2C303A;
    border-radius: 10px;
    padding: 10px;
}
