<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: #1F2430; color: #FFFFFF;">
    <h1 style="text-align: center;">Today's Sales Dashboard</h1>
    <div id="dashboard-content">
        <!-- Dash dashboard aquí -->
        <iframe src="/dashboard/" width="100%" height="800px" frameborder="0"></iframe>
    </div>
</body>
</html>
