<header class="bg-[var(--color-primary)] text-white pt-3 pb-3 px-3 rounded-lg text-center">
    <h1 id="transmisión-en-vivo-de-la-webcam" class="text-2xl font-semibold text-white">Transmisión en Vivo de la Webcam</h1>

    <div class="flex justify-center my-4">
        <img src="{{ url_for('video_feed') }}" alt="Video Feed" class="rounded-lg shadow-lg mx-2">
    </div>
    <!-- <div class="text-center mt-4">
        <label class="switch">
            <input type="checkbox" id="mode-switch">
            <span class="slider"></span>
        </label>
        <span class="text-2xl font-semibold text-white">Modo Oscuro</span>
    </div> -->
</header>
