<div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-start my-5">
    <!-- Columna para "Entregar a la mano" -->
    <div class="text-center bg-white p-5 rounded-lg shadow-sm border border-[var(--color-accent)] no-animation">
        <h3 class="text-lg font-semibold text-[var(--color-primary)] mb-4">Entregar a la mano</h3>
        <button class="flex items-center justify-center bg-[var(--color-secondary)] text-white w-full h-20 rounded-lg">
            <div class="flex items-center justify-center w-10 h-10 aspect-square">
                <img src="{{ url_for('static', filename='images/glove.png') }}" alt="Mano" class="w-full h-full object-contain">
            </div>
            Mano
        </button>
    </div>

    <!-- Columna para los otros instrumentos quirúrgicos -->
    <div class="bg-white p-5 rounded-lg shadow-sm border border-[var(--color-accent)] no-animation">
        <h2 class="text-xl font-semibold mb-4 text-[var(--color-primary)]">Selecciona un instrumento quirúrgico</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 justify-center">
            <button class="flex items-center justify-center bg-[var(--color-secondary)] text-white w-full h-20 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 aspect-square">
                    <img src="{{ url_for('static', filename='images/scalpel.png') }}" alt="Bisturí" class="w-full h-full object-contain">
                </div>
                Bisturí
            </button>
            <button class="flex items-center justify-center bg-[var(--color-secondary)] text-white w-full h-20 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 aspect-square">
                    <img src="{{ url_for('static', filename='images/medical.png') }}" alt="Pinzas" class="w-full h-full object-contain">
                </div>
                Pinzas
            </button>
            <button class="flex items-center justify-center bg-[var(--color-secondary)] text-white w-full h-20 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 aspect-square">
                    <img src="{{ url_for('static', filename='images/scissor.png') }}" alt="Tijeras rectas" class="w-full h-full object-contain">
                </div>
                Tijeras rectas
            </button>
            <button class="flex items-center justify-center bg-[var(--color-secondary)] text-white w-full h-20 rounded-lg">
                <div class="flex items-center justify-center w-10 h-10 aspect-square">
                    <img src="{{ url_for('static', filename='images/scissors.png') }}" alt="Tijeras curvas" class="w-full h-full object-contain">
                </div>
                Tijeras curvas
            </button>
        </div>
    </div>
</div>
