<div class="grid grid-cols-1 md:grid-cols-2 gap-4 my-5">
    <div class="bg-white p-5 rounded-lg shadow-sm border border-[var(--color-accent)] no-animation">
        <h2 class="text-xl font-semibold mb-4 text-[var(--color-primary)]">Coordenadas del UR5</h2>
        <p>Coordenada x: {{ur_x}}</p>
        <p>Coordenada y: {{ur_y}}</p>
        <p>Coordenada z: {{ur_z}}</p>
        <p>Coordenada rx: {{ur_rx}}</p>
        <p>Coordenada ry: {{ur_ry}}</p>
        <p>Coordenada rz: {{ur_rz}}</p>
    </div>
    <div class="bg-white p-5 rounded-lg shadow-sm border border-[var(--color-accent)] no-animation">
        <h2 class="text-xl font-semibold mb-4 text-[var(--color-primary)]">Coordenadas objetivo</h2>
        <p>Coordenada x: {{x}}</p>
        <p>Coordenada y: {{y}}</p>
        <p>Coordenada z: {{z}}</p>
        <p>Coordenada rx: {{rx}}</p>
        <p>Coordenada ry: {{ry}}</p>
        <p>Coordenada rz: {{rz}}</p>
    </div>
</div>
