<div class="bg-white p-5 rounded-lg shadow-sm border border-[var(--color-accent)] no-animation">
    <h2 class="text-xl font-semibold mb-4 text-[var(--color-primary)]">Controles de Interruptores</h2>
    <div class="flex justify-center items-center mb-4">
        <label class="switch">
            <input type="checkbox" id="interruptor-checkbox">
            <span class="slider"></span>
        </label>
        <span class="ml-2">Activar / Desactivar interruptor</span>
    </div>
    <div class="flex justify-center items-center">
        <label class="switch">
            <input type="checkbox" id="iman-checkbox">
            <span class="slider"></span>
        </label>
        <span class="ml-2">Activar / Desactivar imán</span>
    </div>
</div>
